// table of contents
// 0. default stats
// 1. variables
// 2. mixins
// 3. tags
// 4. classes
// 5. media queries


// 0. default stats
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
// 1. variables
$prime-color: hsl(244, 38%, 16%);
$second-color: hsl(277, 64%, 61%);
// 2. mixins
// 3. tags
section {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(2, 1fr);
}
img {
    width: 100%;
    height: 100%;
}
h2 {
    font-size: 50px;
}
p {
    color: hsla(0, 0%, 100%, 0.75);
}
p, td {
    font-size: 15px;
}
table, tr, tbody {
    width: 100%;
}
tr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    td {
        color: hsla(0, 0%, 100%, 0.6);
        font-weight: 400;
    }
    .number {
        color: white;
        font-size: 20px;
        font-weight: 700;
        display: block;
    }
}
// 4. classes
.text-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
    background-color: $prime-color;
    color: white;
    text-align: center;
    padding: 60px;
    height: 100%;
    width: 100%;
    .insights {
        color: $second-color;
    }
    div {
        width: 100%;
    }
}
// 5. media queries